:root {
    --main-bg-color: rgba(99, 133, 166);
    --second-bg-color: rgb(197, 184, 166);
    font-family: 'Oswald', sans-serif;
}

html {
    overflow-x: hidden;
}

body {    
    margin: 0;    
}

hr {
    margin: 0;
    border: 0;
    height: 9px;
    background-color: var(--main-bg-color);    
}

h2 {    
    text-align: center;
}

p {
    display: inline;
}

form {
    background-color: var(--second-bg-color);
    border-top: 3px solid rgb(201, 194, 194);
    padding: 20px;    
    text-align: center;
}

button {
    margin-top: 2em;
    padding: 1em 15.5em;
    border-radius: 4px;
    border: none;
    background-color: rgb(34, 255, 82);
    color: whitesmoke;
    font-weight: 800;
    
}

.container {    
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 3em;    
    max-width: 1400px;
    margin: 0 auto;
}

.overlay {    
    height: 100vh;
    width: 100vw;
    background-color: rgba(10, 10, 10, .9);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.company-name {    
    font-size: 2em;
    text-align: start;
    font-family: 'Righteous', cursive;
    text-shadow: 3px 2px #558ABB;
}

.info {
    
    color: rgb(209, 198, 198);
    z-index: 2;
    transform: translateY(10%);
    margin: auto 2em;
}

.cta-container {
    min-width: 35rem;    
    z-index: 1;   
    margin-right: 3em;
}

.cta-header {
    background-color: var(--main-bg-color);
    color: rgb(209, 198, 198);
    padding-top: 12px;
    margin-top: -2px;
    text-align: center;
    z-index: 2;
    
}

.cta-image {
    max-height: 300px;
    
    margin-bottom: 2em;
}

.bg {
    height: 100vh; 
    width: 100vw;
    background-image: url("static/books.jpg");
    background-size: cover;    
    z-index: 0;
    
}

form {
    font-family: 'Yantramanav', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

label {
    color:black;
    
}

input {
    padding: 10px 30px; 
    border-radius: 2px;
}

.form-block {
    margin-top: .7em;
    text-align: left;
}
